.body {
	display: flex;
	position: relative;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	background-image: url(https://images.unsplash.com/photo-1512596114925-136d26cb6bbe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14085e3e9e95b52a207a2eaec04909bf&auto=format&fit=crop&w=800&q=60);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Covered By Your Grace', cursive;
}

.wrapper {
	display: flex;
	background-image: url(https://images.unsplash.com/photo-1517771778436-39f5763f5270?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a13e64c2ca5f8236aebd26c4226acf2&auto=format&fit=crop&w=800&q=60);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	width: 1094px;
	flex-direction: column;
	flex-flow: column;
	border-radius: 4px;
	border: 2px solid black;
}

.header {
	height:380px;
	width: 1088px;
	background-image: url(https://images.unsplash.com/photo-1496303861503-f6ec4e50034e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b116b6efb341717a04244b7443659d6e&auto=format&fit=crop&w=800&q=60);
	flex-direction: column;
	flex-flow: column;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	border-radius: 4px;
	border: 5px solid black;
	opacity: 0.9;
}

.board {
	flex-wrap: wrap;
	flex-direction: row;
	background-color: black;
	width: 90%;
	height: 100%;
	align-items: center;
	align-self: center;
	opacity: 0.8;
	border-radius: 4px;
}

li {
	flex-wrap: wrap;
	flex-direction: row;
	background-color: rgb(109,92,72);
	list-style-type: none;
	text-align: center;
	width: 96%;
	align-items: center;
	align-self: center;
	border-radius: 4px;
	border: 1px solid black;
	height: 25px;
	width: 60px;
}


ul {
    -moz-column-count: 7;
    -moz-column-gap: 0px;
    -webkit-column-count: 7;
    -webkit-column-gap: 0px;
    column-count: 7;
    column-gap: 0px;
}

.login {
	flex-direction: row;
	align-items: center;
	align-self: center;
}

.logout {
	flex-direction: row;
	align-items: center;
	align-self: center;
}

.createuser {
	flex-direction: row;
	flex-direction: row;
	align-items: center;
	align-self: center;
}

.createforms {
	flex-direction: row;
	align-items: center;
	align-self: center;
}

.edit {
	align-content: center;
	align-items: center;
	align-self: center;
	justify-content: center;
	flex-direction: row;
	background-color: black;
	color: rgb(109,92,72);
	text-align: center;
}

.edit:hover {
    color: rgb(85,98,82);
}

.delete {
	flex-direction: row;
	background-color: black;
	align-content: center;
	align-items: center;
	align-self: center;
	justify-content: center;
	color: rgb(109,92,72);
	text-align: center;
}

.delete:hover {
    color: rgb(85,98,82);
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: rgb(85,98,82);
}

/* selected link */
a:active {
    color: rgb(85,98,82);
}
